/***************/
/* Home styles */
/***************/

/* Navbar styles */
.navbar-brand {
  padding: 0;
}

.fixed-logo {
  height: 30px;
  width: auto;
}

/* Home styles */
.home-container {
  position: relative;
  margin-top: 58px;
  display: flex;
  align-items: center;
}

/* Carousel styles */
.carousel-principal {
  background-color: black;

  height: 500px;
  width: 100%;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}

/* Text columns styles */
.text-columns {
  background-color: transparent;
  z-index: 1;
  position: relative;
  height: 500px;

  padding: 20px;
  max-width: 400px;
  margin-right: auto;
}

.principal-column {
  color: #e9ecef;
  text-align: justify;
  font-weight: bold;
}

.single-column {
  color: #adb5bd;
  text-align: justify;
}

/* Text tools */
.text-tool {
  background-color: #bdbdbd;
  padding: 20px;
}

/* Division styles */
.division {
  background-color: #bdbdbd;
  width: 100%;
  padding: 30px;
  padding-top: 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Tech simbols */
.tech-simbols {
  height: 120px;
}

/* Texto de proyectos destacados */
.texto-destacado {
  color: #e9ecef;
  background-color: #333333;
  padding: 20px;
}

/* Cards styles */
.cards {
  background-color: #333333;
  padding-left: 30px;
  padding-right: 30px;

  width: auto;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 50px;
}

.card-body a.btn {
  margin: 0 auto;
  display: block;
}

/* Home Styles for smaller screens */
@media (max-width: 767px) {
  .carousel-principal {
    height: auto;
  }

  .carousel-item img {
    height: 500px;
    width: auto;
    margin: 0 auto;
    display: block;
  }
}

/* Footer */
.footer-section {
  background-color: black;
  padding: 30px;

  display: flex;
  flex-direction: column;

  text-align: center;
  color: #6c757d;
}

/* No se ocupa */
/*
.contact-button {
  text-align: center;
  margin: 0;
} */

/* 
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000; 

$orquidea-oscura: #9932CC;
*/

/* 
#7f0000
#ff0000 **
#670f22
#6a041a *
#9a0526
#ab022f
#cd0c36 
*/

/* 
Negro: #000000 (Color principal para fondos y elementos oscuros).
Verde: #00FF00 (Color para botones u otros elementos destacados).
Gris oscuro o grafito: #333333 o #555555 (Para fondos de tarjetas u otros elementos).
Blanco o crema: #FFFFFF o #F9F9F9 (Para texto y fondos de tarjetas).
Azul oscuro: #001F3F o #003366 (Opcional para detalles o destacar).
Morado oscuro: #4B0082 o #330033 (Otra opción elegante para detalles).
Rojo oscuro: #7f0000 o #990000 (Para detalles audaces). 
*/
