//Cabin
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

//Playfair Display
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

//Nunito
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

//Roboto
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$cabin: 'Cabin', sans-serif;
$playfair: 'Playfair Display', serif;
$nunito: 'Nunito', sans-serif;
$roboto: 'Roboto', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto;
}

p {
  font-family: $nunito;
  font-size: large;
}

$primary: #1d438a;
$warning: #705800;
$info: #00594f;
$danger: #5c0010;

@import '../node_modules/bootstrap/scss/bootstrap';

/* 
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000; 
*/

/* 
#7f0000
#ff0000 **
#670f22
#6a041a *
#9a0526
#ab022f
#cd0c36 
*/

/* 
Negro: #000000 (Color principal para fondos y elementos oscuros).
Verde: #00FF00 (Color para botones u otros elementos destacados).
Gris oscuro o grafito: #333333 o #555555 (Para fondos de tarjetas u otros elementos).
Blanco o crema: #FFFFFF o #F9F9F9 (Para texto y fondos de tarjetas).
Azul oscuro: #001F3F o #003366 (Opcional para detalles o destacar).
Morado oscuro: #4B0082 o #330033 (Otra opción elegante para detalles).
Rojo oscuro: #7f0000 o #990000 (Para detalles audaces). 
*/
